:root{
    --cor-primaria: #222831;
    --cor-secundaria: #393E46;
    --cor-terciaria: #00ADB5;
    --cor-letras:#EEEEEE;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}


body{
    height: 100vh;
}
.container{
    box-sizing: border-box;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo{
    color: var(--cor-terciaria);
}
#underline{
    position: static; 
}

#butao{
    margin: 15px;
}


  
    
