:root{
  --cor-primaria: #222831;
  --cor-secundaria: #393E46;
  --cor-terciaria: #00ADB5;
  --cor-letras:#EEEEEE;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    width: 100%;
    height: 100%;
  }
 
  .container {
   
    margin: 0 auto;
    
  }
  
  /* Estilos para o cabeçalho */
  header {
    background: var(--cor-secundaria);
    color: var(--cor-terciaria);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 100vw;
  }
  
  #nome{
    margin-left: 30px;
    font-size: xx-large;
    font-weight: bolder;
  }

  #nome:hover{
    color: var(--cor-letras);
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 45px
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    
  
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: var(--cor-terciaria);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: var(--cor-letras);
  }
  
  .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Estilos para as seções de categorias */
  
  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 40px;
    margin-top: 40px
  }

  #animeCarousel{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
  }

  .slick-arrow{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
  }

  .video-slide:hover{
    color: var(--cor-letras);
  }


  .categories h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  


  .nomeAnime{
    width: 200px;
    overflow: hidden;
    height: 3vh;
    margin-bottom: 3px;
  }

  .titulo{
    font-size: small;
    white-space: nowrap;
  }

 
  

  /* Estilos para o rodapé */
  footer {
    background: var(--cor-secundaria);
    color: var(--cor-terciaria);
    font-size: 14px;
    text-align: center;
    height: 5vh;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 100vw;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0;
  }
  
  .footer-links li {
    margin-right: 10px;
  }
  
  .footer-links a {
    color: var(--cor-terciaria);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: var(--cor-letras);
  }
  
  