:root{
    --cor-primaria: #222831;
    --cor-secundaria: #393E46;
    --cor-terciaria: #00ADB5;
    --cor-letras:#EEEEEE;
}

.containerAnime{
    margin-top: 50px;
}

.Anime{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;

}

.Descrição{
    text-align: inherit;
}

.Nome,.foto,.Descrição{
    padding-bottom: 10px
}

.foto{
width: 200px;
height: 275px;

}

.containerEpisodios{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.frame{
    background-color: black;
    width: 90%;
    height: 75vh;
}

.controles{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.setaD,.setaE{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    width: 15%;
}

.setaD:hover,.setaE:hover,#epi:hover{
    cursor: pointer;
    color: var(--cor-letras);
}

#epi{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    width: 70%;
    text-align: center;
}