:root{
    --cor-primaria: #222831;
    --cor-secundaria: #393E46;
    --cor-terciaria: #00ADB5;
    --cor-letras:#EEEEEE;
}

body {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--cor-terciaria);
}

.animação{
    width: 30vw;
    height: 300px;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color:var(--cor-secundaria);
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#l, p{
    color: #00ADB5;
}

#recuperar{
    cursor: pointer;
}

#recuperar:hover{
    color: var(--cor-primaria);
}

.login-form {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 30px;
    color:var(--cor-terciaria);
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-group input {
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    font-size: 16px;
    color:var(--cor-letras);
    background-color: transparent;
    transition: border-bottom-color 0.3s ease-in-out;
}

.form-group input:focus {
    border-bottom-color: var(--cor-terciaria);
}

.form-group .underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 105%;
    height: 1px;
    background-color: var(--cor-terciaria);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.form-group input:focus + .underline {
    transform: scaleX(1);
}

.btn-login,
.btn-create {
    background-color: var(--cor-terciaria);
    color: var(--cor-letras);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.btn-login {
    margin-bottom: 10px;
}

.btn-login:hover,
.btn-create:hover {
    color: var(--cor-primaria);
}


@media (max-width: 768px){
    #animação{
        height: 20px;
    }
    body{
        height: 65vh;
    }
}