body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #000;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.logo img {
    max-width: 200px;
    margin-bottom: 30px;
}

.login-form {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 30px;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease-in-out;
}

.form-group input:focus {
    border-bottom-color: #e50914;
}

.form-group .underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e50914;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.form-group input:focus + .underline {
    transform: scaleX(1);
}

.btn-login,
.btn-create {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.btn-login {
    margin-bottom: 10px;
}

.btn-login:hover,
.btn-create:hover {
    background-color: #b2070d;
}
